
<!doctype html>
<html lang="en" class="h-100">
    <head>
        <%- include('../../partials/head'); %>

        <!-- css -->
        <% if(typeof sheets!=='undefined') { %>
            <% for(let sheet of sheets) { %>
                <link href="/css/<%= sheet %>.css" rel="stylesheet">
            <% } %>
        <% } %>
    </head>

    <body class="h-100">
        <%- include('../../partials/header'); %>

        <div class="container-fluid pb-3 h-100" style="padding-top: 90px;">
            <div class="row w-100 h-100" style="flex-wrap:nowrap">
                <%- include('../../partials/sidebar', {level:''}); %>

                <main class="col overflow-auto">
                    <div class="row">
                        <div class="col">
                            <h5>
                                <i class="icon-home"></i>
                                Inicio
                            </h5>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div id="main-content" class="col">
                            
                        </div>
                    </div>
                </main>
            </div>
        </div>
        
        <% if(typeof libs!=='undefined') { %>
            <% for(let lib of libs) { %>
                <script src='/js/<%= lib %>.js' type='text/javascript'></script>
            <% } %>
        <% } %>
    </body>
</html>